body {
	font-family: sans-serif;
	background-color: hsl(264, 100%, 50%);
}

header {
	color: white;
	background-color: hsl(264, 100%, 50%);
}

h1 {
	margin: 0em;
	padding: 0.2em;
	margin-left: 1em;
}

#save-button {
	background-color: hsl(16, 30%, 85%);
	border: none;
	padding: 5px 18px;
	text-align: center;
	font-size: 16px;
	margin: 8px 4px;
	cursor: pointer;
}
form {
	padding: 0.5em;
	background-color: hsl(264, 25%, 85%);
}
